body {
  font-family: 'Lato', sans-serif;
  background-color: #E9CFCC;
}

a {
  text-decoration: none !important;
  color: white !important;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  text-align: center;
}




/***CLASS SELECTORS***/ 

.welcome-container {
  font-family: 'Abril Fatface', cursive;
  color: #D99BB4;
  width: 100%;
  height: 92vh;
}


.navbar {
  background-color: #D99BB4;
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(233, 233, 233) !important;
}

