body {
  font-family: sans-serif;
  background-color: #E9CFCC;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}



/***CLASS SELECTORS***/ 

.navbar {
  background-color: #D99BB4 !important;
  color: white !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(233, 233, 233) !important;
}